<div class="data">
  <h2>Subscribers Mail ID</h2>
  <ul>
    <li *ngFor="let user of users">{{ user.name }} = {{ user.email }}</li>
  </ul>
</div>

<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
  <input type="text" ngModel name="name" placeholder="enter name" />
  <br />
  <br />
  <input type="text" ngModel name="email" placeholder="enter email" />
  <br />
  <br />
  <input type="text" ngModel name="address" placeholder="enter address" />
  <br />
  <br />
  <button>Add New User</button>
</form>
